.container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* height: 100vh; */
}

img {
    height: auto;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #1C9CD9;
    /* padding: 30px; */
    margin: 30px;
}

p {
    color: grey;
    text-align: center;
    width: 80%;
    font-size: 110%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}

.jobs {
    display: flex;
    color: #1F2E4F;
    background: #289DD6;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

p.title {
    color:white;;
    text-align: center;
    /*font-weight: bold;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -40px; */
    margin-left: -57px;
}

.masajanlat p.title {
    color: #1C9CD9;
    margin-left: 0px;
    font-weight: bold;
}

.jobs:last-child {
    width: 75%;
    height: 80px;
    background-color: white;
    border: 1px solid #289DD6;
}

footer {
    display: flex;
    justify-content: center;
}

.active-link {
    background: black;
}

/* input[type="checkbox"]{
    position: relative;
    top: -70px;
    left: -1px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    appearance: none;
    background-color: red;
} */

input[type="checkbox"]{
    position: relative;
    top: -70px;
    left: 0px;
    width: 50px;
    height: 30px;
    border-radius: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(234, 234, 234);
    transition: all .3s linear;
    outline: none;
}

input[type='checkbox']:checked {
    background: rgb(134, 255, 134);
}

.masajanlat-input {
    display: none;
}

