<div class="container">
    <!-- <img src="../assets/header.jpg" alt="header"> -->
    <img src="../assets/tablet_header.png" alt="header">
        <h1>CSATLAKOZZ HOZZÁNK!</h1>
        <p>A 4iG cégcsoport versenykepes fizetessel, extra juttatasi csomagokkal, fiatalos kollektivaval, kepzesi lehetosegekkel es szep kornyezettel var.</p>        
        <ul>
            <li class="jobs {{item.pageId}}"
                *ngFor="let item of jobTitle"

                >
                <input class="check {{item.pageId}}-input" type="checkbox" (change)="checkedRoles(item.description)">
                <p class="title" (click)="getId(item)" [routerLink]="['/', item.pageId]">{{ item.name }}</p>
            </li>
        </ul>
        <!-- [routerLink]="['/', item.pageId]"
        (click)="getId(item.pageId)"
        routerLinkActive="active-link" -->



    <footer>
        <p>4iG cégcsoport > 4 leányvállalat: 4iG Nyrt., Humansoft Kft., Axis Kft., Mensor3D Kft. / 420 fő / 13 milliárd árbevétel</p>
    </footer>

</div>