<h1 style=" margin-left: 10px; color:#3C3C7C; margin-bottom:20px;">FELIRATKOZÁS</h1>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="display: flex; justify-content: space-around;" >
    <div style="display: inline">
        <label style="color:#828282;font-size: 12px;font-weight: lighter; margin-left: 10px;" for="name">Név</label>
        <input placeholder="Név" type="text" id="name" formControlName="name" style="text-transform: capitalize;">
    </div>
    <div style="display: inline">
        <label style="color:#828282;font-size: 12px;font-weight: lighter; margin-left: 10px;" for="email">Email</label>
        <input placeholder="E-mail" type="email" id="email" formControlName="email">
    </div>
    <button type="submit" [disabled]="!myForm.valid" style=" margin-top: 15px;">Elküld!</button>
</form>

<style type="text/css">
input[type="text"], input[type="email"] {
    margin-left: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border-style: dashed;
    border-color: #289dd6;
    border-radius: 6px;
    font-size: 14px;
    outline: 0;
    padding: 7px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: white;
    color:#289DD6;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
input[type="text"]:focus, input[type="email"]:focus {
    background-color: #e6f1f7;
    
}

button {
    margin-left: 10px;
    height: 40px;
    color: white;
    background-color: #289DD6;
    border: none;
    border-radius: 6px;
}
</style>