<div class="image"></div>

<h1>Airline rendszermérnök</h1>

<ul>
    <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
    <li>Magas rendelkezésre állású, üzletmenetet támogató kritikus rendszerek üzemeltetése</li>
    <li>Üzleti folyamatok megértése, követése</li>
    <li>Együttműködés a fejlesztői csapatokkal és külső szolgáltatókkal</li>
    <li>Rendszerhibák kivizsgálása és megoldása együttműködve más megoldó csapatokkal</li>
    <li>Változtatási igények megtervezése, dokumentálása és bevezetése</li>
    <li>Rendszer tesztek kivitelezése és dokumentálása</li>
</ul>

<ul>
    <li><h2>Téged keresünk ha:</h2></li>
    <li>van műszaki végzettséged</li>
    <li>legalább 3 év alkalmazás üzemeltetői tapasztalattal rendelkezel</li>
    <li>MS SQL üzemeltetői tapasztalatod is van</li>
    <li>jól beszélsz angolul</li>
    <li>kitartó vagy és jól együtt tudsz működni a felhasználókkal </li>
</ul>

<ul>
    <li><h2>Szuper, ha rendelkezel még:</h2></li>
    <li>ERP üzemeltetési tapasztalattal (pl. Microsoft Dynamics, SAP)</li>
    <li>BizTalk üzemeltetési tapasztalattal</li>
    <li>IT Infrastruktúra ismeretekkel</li>
    <li>MCSE, MCDBA vagy MCITP minősítéssel</li>
</ul>

 <ul>
     <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
     <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
     <li>ingyenes nyelvtanfolyamokon való részvételt</li>
     <li>fejlődési- és karrierlehetőséget</li>
     <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti munkavégzést</li>
 </ul>

