<div class="image"></div>

<h1>BI tanácsadó</h1>

<ul>
    <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
    <li>a megoldandó üzleti probléma, üzleti igények, elvárások, követelmények, megértése, feldolgozása, értelmezése és lefordítása informatikai megoldási lehetőségekre</li>
    <li>részvétel az értékesítési ciklusban, tárgyalásokon, prezentációkon</li>
    <li>ajánlatok, pályázati anyagok szakmai kidolgozása</li>
    <li>a BI alkalmazásfejlesztési munkák keretében rendszerbevezetési munkák tervezése, irányítása, megvalósítása</li>
    <li>kapcsolattartás az ügyfelek szakértőivel és vezetőivel</li>
    <li>a projekt során konzultáció, oktatás, támogatás nyújtása</li>
    <li>a projekt során előállítandó dokumentáció elkészítése</li>
</ul>

<ul>
    <li><h2>Téged keresünk ha:</h2></li>
    <li>felsőfokú műszaki vagy közgazdasági végzettséged van</li>
    <li>legalább 3 év, hasonló területen eltöltött szakmai tapasztalattal rendelkezel</li>
    <li>ismered a Cognos TM1, adatbázisok és az Office programcsomagot</li>
    <li>van projekt módszertan ismereted</li>
    <li>tárgyalóképes angolnyelv-tudással rendelkezel</li>
    <li>ügyfél-orientált szemléletmóddal bírsz</li>
    <li>hatékonyan képes vagy az önálló munkavégzésre </li>
    <li>kiváló tárgyalási és konfliktuskezelési készséggel tudod az érdekeket érvényesíteni</li>
</ul>

<ul>
    <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
    <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
    <li>fejlődési- és karrierlehetőséget</li>
    <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti munkavégzést</li>
</ul>

<app-signup></app-signup>
