<img class="headerImg" src="../assets/tablet_header.png" alt="header">
<div class="container">

    <app-side></app-side>

    <div class="main">
        <!-- <div class="image"></div> -->

        <h1>Desktop support</h1>

        <ul>
            <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
            <li>az ügyfelektől érkező IT hívások fogadása</li>
            <li>IT problémák megoldása telefonon keresztül vagy távmenedzsment eszközökkel </li>
            <li>IT problémák helyszíni megoldása személyesen </li>
            <li>kliens számítógépek telepítése, konfigurálása</li>
            <li>események dokumentálása Servicedesk rendszerben, SLA idők menedzselése</li>
            <li>rendszeres üzemeltetői feladatok elvégzése szerver és kliens oldalon</li>
        </ul>

        <ul>
            <li><h2>Téged keresünk ha:</h2></li>
            <li>van minimum középfokú műszaki végzettséged</li>
            <li>legalább 3 év üzemeltetői tapasztalattal rendelkezel</li>
            <li>jól beszélsz angolul</li>
            <li>ismered a Microsoft desktop környezetet (Windows 7, Windows 8.1 Office termékek)</li>
            <li>rendelkezel Active Directory ismerettel és hardver ismerettel</li>
            <li>kitartó vagy és jól együtt tudsz működni a felhasználókkal </li>
        </ul>

        <ul>
            <li><h2>Szuper, ha rendelkezel még:</h2></li>
            <li>ITIL Foundation vizsgával és MOF üzemeltetési módszertani ismerettel</li>
            <li>beszélsz németül is</li>
        </ul>

        <ul>
            <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
            <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
            <li>ingyenes nyelvtanfolyamokon való részvételt</li>
            <li>fejlődési- és karrierlehetőséget</li>
            <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti munkavégzést</li>
        </ul>

        <app-signup></app-signup>

    </div>

    <div class="back-div" [routerLink]="['/home']">
        <section class="back">◄</section>
        <section class="backText">Vissza</section>
    </div>
</div>