<img class="headerImg" src="../assets/tablet_header.png" alt="header" [routerLink]="['/home']">
<div class="container">

    <app-side></app-side>

    <div class="main">
        <!-- <div class="image"></div> -->

        <h1>Helpdesk munkatárs</h1>

        <ul>
            <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
            <li>az ügyfelektől érkező IT hívások fogadása</li>
            <li>IT problémák távmenedzsment eszközökkel való vagy helyszíni megoldása</li>
            <li>kliens számítógépek telepítése, konfigurálása</li>
            <li>felhasználói fiókok, jogosultságok kezelése</li>
            <li>megoldó csoportokkal való együttműködés</li>
            <li>események dokumentálása Servicedesk rendszerben, SLA idők menedzselése </li>
            <li>rendszeres üzemeltetői feladatok elvégzése szerver és kliens oldalon</li>
        </ul>

        <ul>
            <li><h2>Téged keresünk ha:</h2></li>
            <li>minimum középfokú szakirányú végzettséggel rendelkezel</li>
            <li>van rendszer üzemeltetői ismereted:</li>
                <ul>
                    <li>hardverek - asztali PC, notebook területen</li>
                    <li>kliens oldali operációs rendszerek és office alkalmazások területén</li>
                    <li>címtár menedzsment, felhasználói fiókok és jogosultságok menedzselésében</li>
                    <li>kiszolgáló oldali operációs rendszerek területén, elsősorban Microsoft környezetben</li>
                    <li>nyomtatók, szünetmentesek, illetve további perifériák területén</li>
                    <li>hálózati ismeretek témakörben</li>
                </ul>
            <li>beszélsz németül vagy angolul</li>
        </ul>

        <ul>
            <li><h2>Szuper, ha rendelkezel még:</h2></li>
            <li>Servicedesk rendszer használatában szerzett gyakorlattal</li>
            <li>ITIL ismeretekkel</li>
        </ul>

        <ul>
            <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
            <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
            <li>ingyenes nyelvtanfolyamokon való részvételt</li>
            <li>fejlődési- és karrierlehetőséget</li>
            <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti vagy Ceglédi munkavégzést</li>
        </ul>

        <app-signup></app-signup>
        <div class="back-div" >
                <section class="back" [routerLink]="['/home']">Home</section>
            </div>
        </div>
</div>