<img class="headerImg" src="../assets/tablet_header.png" alt="header" [routerLink]="['/home']">
<div class="container">

    <app-side></app-side>

    <div class="main">
        <!-- <div class="image"></div> -->


        <h1>ERP alkalmazás üzemeltető rendszermérnök</h1>

        <ul>
            <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
            <li>Microsoft platformon futó üzleti alkalmazások, illetve MS SQL 2008/2014 adatbázis környezet üzemeltetése, támogatása a HUMANsoft Kft. ügyfelénél</li>
            <li>alkalmazás bevezetés projektek specifikálásában való részvétel</li>
            <li>projektek üzemeltetés oldali felügyelete, koordinálása</li>
        </ul>

        <ul>
            <li><h2>Téged keresünk ha:</h2></li>
            <li>műszaki végzettséged van</li>
            <li>mély MS SQL üzemeltetői tapasztalattal bírsz, lekérdezésekben, tárolt eljárások írásában otthonosan mozogsz</li>
            <li>Microsoft Dynamics AX üzemeltetési tapasztalatod van</li>
            <li>jól beszélsz angolul</li>
        </ul>

        <ul>
            <li><h2>Szuper, ha rendelkezel még:</h2></li>
            <li>BizTalk üzemeltetési tapasztalattal</li>
            <li>IT Infrastruktúra ismeretekkel</li>
            <li>MCSE, MCDBA vagy MCITP minősítéssel</li>
        </ul>

        <ul>
            <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
            <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
            <li>ingyenes nyelvtanfolyamokon való részvételt</li>
            <li>fejlődési- és karrierlehetőséget</li>
            <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti munkavégzést</li>
        </ul>

        <app-signup></app-signup>

        </div>

    <div class="back-div" [routerLink]="['/home']">
        <section class="back">◄</section>
        <section class="backText">Vissza</section>
    </div>
</div>