<div class="image"></div>

<h1>Java fejlesztő</h1>

<ul>
    <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
    <li>alkalmazások fejlesztése</li>
    <li>adatbázisok tervezése, fejlesztése</li>
    <li>fejlesztői csapatmunkában történő aktív részvétel</li>
    <li>saját fejlesztési feladatokkal kapcsolatos adminisztratív és dokumentációs feladatok ellátása
    </li>
</ul>

<ul>
    <li><h2>Téged keresünk ha:</h2></li>
    <li>van legalább 2-3 éves Java környezetben szerzett fejlesztői tapasztalatod</li>
    <li>Java Web Framework-ök ismeretével rendelkezel (pl. Spring, JSF, Struts)</li>
    <li>van tapasztalatod HTML/ XHTML, XML, JavaScript technológiákban</li>
    <li>Java SE: Servlets, JDBC</li>
    <li>Java EE: EJB, JNDI, JTA/JTS, JPA, JAX-RS, JAX-WS</li>
    <li>XML, XPath, XSD, XSL, (JSON ismerete előnyt jelent)</li>
    <li>legalább írásban és dokumentáció olvasás/megértés szintjén tudsz angolul</li>
    <li>pontos, alapos és igényes vagy a munkavégzésedre</li>
    <li>motivált, proaktív hozzáállással végzed a feladataid</li>
</ul>

<ul>
    <li><h2>Szuper, ha rendelkezel még:</h2></li>
    <li>adatbázis tervezési ismeretekkel</li>
    <li>adatbázis szerverek, SQL nyelv ismerettel (MS SQL, Oracle)</li>
    <li>Hibernate köztes réteg ismeretével</li>
    <li>van  szakirányú felsőfokú végzettséged</li>
    <li>.Net programozási környezetben komfortosan mozogsz</li>
</ul>

<ul>
    <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
    <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
    <li>fejlődési- és karrierlehetőséget</li>
    <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti vagy Székesfehérvári munkavégzést</li>
    <li></li>
</ul>

<app-signup></app-signup>