<div class="image"></div>

<h1>Linux rendszermérnök</h1>

<ul>
    <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
    <li>nagyvállalati környezetben Linux alapú infrastruktúra üzemeltetése, támogatása a HUMANsoft Kft. ügyfelénél</li> 
    <li>részvétel az incidenskezelési, változáskezelési és problémakezelési folyamatokban</li>
</ul>

<ul>
    <li><h2>Téged keresünk ha:</h2></li>
    <li>felsőfokú szakirányú műszaki végzettséged van</li>
    <li>szereztél már 1-3 év tapasztalatot Linux szerverpark üzemeltetésében</li>
    <li>dolgoztál már központosított felügyelet alatt álló virtualizációs rendszerek üzemeltetésében</li>
    <li>ismered a nagyvállalati mentési rendszereket, vannak storage üzemeltetési ismereteid</li>
    <li>rendelkezel hálózati ismeretekkel</li>
    <li>tárgyalóképes szinten beszélsz angolul</li>
    <li>hatékonyan, ügyfélorientált problémamegoldási készséggel végzed a feladataid</li>
</ul>

<ul>
    <li><h2>Szuper, ha rendelkezel még:</h2></li>
    <li>SLES ismerettel</li>
    <li>szerver hardver ismeretekkel, NetApp tárolók ismeretével</li>
    <li>nagyvállalati felügyeleti rendszerek üzemeltetői ismeretével</li>
    <li>részletes írott technikai procedúrák létrehozása, javításában van tapasztalatod</li>
    <li>van B kategóriás jogosítványod</li>
</ul>

<ul>
    <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
    <li>folyamatos szakmai támogatást és képzési lehetőségeket</li>
    <li>ingyenes nyelvtanfolyamokon való részvételt</li>
    <li>fejlődési- és karrierlehetőséget</li>
    <li>jó hangulatú, összetartó, dinamikus csapatban való Budapesti munkavégzést</li>
</ul>

<app-signup></app-signup>

