<img class="headerImg" src="../assets/tablet_header.png" alt="header">
<div class="container">
    <div class="image"></div>

    <h1>Építészmérnök</h1>

    <ul>
        <li><h2>A feladatok, amelyek Rád várnak:</h2></li>
        <li>2D és 3D dokumentáció készítése</li>
        <li>számítógépes tervezés</li>
    </ul>

    <ul>
        <li><h2>Téged keresünk ha:</h2></li>
        <li>Archicad program magabiztos ismerettel rendelkezel</li>
        <li>a munkádban pontos, precíz vagy</li>
        <li>legalább középfokú szinten beszélsz angolul</li>
        <li>felsőfokú tanulmányokat folytatsz, vagy már diplomával rendelkezel</li>
    </ul>

    <ul>
        <li><h2>Szuper, ha rendelkezel még: </h2></li>
        <li>beszélsz németül</li>
        <li>BIM</li>
        <li>Adobe Photoshop programot ismered</li>
        <li>Autocad programot magabiztosan használatod</li>
    </ul>

    <ul>
        <li><h2>Amit cserébe mi kínálunk Neked:</h2></li>
        <li>fiatalos, közvetlen munkakörnyezetet</li>
        <li>profi munkaeszközöket</li>
        <li>barátságos légkörben összetartó csapatot</li>
        <li>ingyenes nyelvtanfolyamokon való részvételt</li>
        <li>fejlődési- és karrierlehetőséget</li>
    </ul>

    <app-signup></app-signup>
    <div class="back-div" [routerLink]="['/home']">
        <section class="back">◄</section>
        <section class="backText">Vissza</section>
    </div>
</div>