<img class="headerImg" src="../assets/tablet_header.png" alt="header" [routerLink]="['/home']">
<div class="container">

    <app-side></app-side>

    <div class="main">

        <p>Ha nem találtál olyan pozíciót jelenlegi ajánlataink között,
            ami megfelelő lenne számodra, küldd el részünkre a CV-det, 
            valamint szakmai érdeklődési körödet az allas@4ig.hu e-mail címre.
            Aktuális álláslehetőségeinkről folyamatosan tájékozódhatsz a www.4iG.hu honlapunkon.</p>
        <app-signup></app-signup>
        <div class="back-div" >
                <section class="back" [routerLink]="['/home']">Home</section>
            </div>
    </div>    

</div>